In [3]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import re

In [4]:
url = 'https://www.irba.co.za/find-an-ra?page=1&ipp=10&'
data = requests.get(url).text

In [5]:
soup = BeautifulSoup(data, "html.parser")
tables = soup.find_all('table')
len(tables)

2

In [34]:
#firstTable
auditors = tables[0]
body1 = auditors.find_all('tr')
head1 = body1[1]


headings1 = []

for item in head1.find_all('th'):
    item = (item.text).rstrip('\n')
    headings1.append(item)

body_rows1 = body1[2:-1]

all_rows1 = []
for row_num in range(len(body_rows1)):
    row = []
    for row_item in body_rows1[row_num].find_all('td'):
        row_item = re.sub("(\n)|,", "", row_item.text)
        row.append(row_item)
    all_rows1.append(row)

auditors_df = pd.DataFrame(data=all_rows1, columns=headings1)
auditors_df

                   Full Name IRBA Number              Area
0         AADIL GOOLAM PATEL      762788        ROODEPOORT
1           AADILA ABOOBAKER      315929           TSHWANE
2    AARON BUYISWA MTHIMUNYE      736724      JOHANNESBURG
3     ABBERLISA TINASHE DUBE      195136       GRAHAMSTOWN
4         ABDOOLRAWOOF AHMED      175110      JOHANNESBURG
5           ABDUL AZEEM KHAN      858595            DURBAN
6          ABDUL GAMIED ALLY      723274         CAPE TOWN
7             ABDUL HAQ KHAN      607460  PIETERMARITZBURG
8  ABDUL KADER JOOSAB CASSIM      629073       KRUGERSDORP
9       ABDUL KARIEM HOOSAIN      371041        RONDEBOSCH

In [41]:
#secondTable
firms = tables[1]
body2 = firms.find_all('tr')
head2 = body2[1]


headings2 =[]
for item2 in head2.find_all('th'):
    item2 = (item2.text).rstrip('\n')
    headings2.append(item2)

body_rows2 = body2[2:-1]

all_rows2 = []
for row_num2 in range(len(body_rows2)):
    rows2 = []
    for row_item2 in body_rows2[row_num2].find_all('td'):
        row_item2 = re.sub("(\n|),", "", row_item2.text)
        rows2.append(row_item2)
    all_rows2.append(rows2)

firms_df= pd.DataFrame(data=all_rows2, columns=headings2)
firms_df

,Firm name,Practice Number,Area,Telephone Number,Email address,Website
0,4C CHARTERED ACCOUNTANTS,940841-0000,CAPE TOWN,021 712 9126,[email protected],N/A
1,A AHMED & CO,930369-0000,LENASIA,011 854 1307,[email protected],N/A
2,A and O CHARTERED ACCOUNTANTS,961019-0000,MIDDELBURG,013 282 8357,[email protected],N/A
3,A B ABOO & CO,923472-0000,PRETORIA,010 013 1522,[email protected],N/A
4,A BOSMAN CA(SA),901081-0000,GERMISTON,011 824 2566,[email protected],N/A
5,A CARRIM & ASSOCIATES,901775-0000,JOHANNESBURG,011 832 1774,[email protected],N/A
6,A D FRIEDMAN & KIE,943118-0000,MODIMOLLE,014 717 1042,[email protected],N/A
7,AD-REKENMEESTERS & OUDITEURE,900169-0000,HARTBEESPOORT,012 259 1863,[email protected],N/A
8,A D SMITH & ASSOCIATES CHARTERED ACCOUNTANTS I...,903906-0000,JOHANNESBURG,072 986 3101,[email protected],N/A
9,A E ROUX t/a LLOYD & JANSEN,924792-0000,ERMELO,017 819 1112,[email protected],N/A